<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Wildfire Risk Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'header.html' %}
  <div class="content">
    Add drop down for states. Need to add a map of US.
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>